input[type="text"],
input[type="email"],
textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--light-blue);
  background-color: rgba(var(--light-blue), 0.5);
  border-color: rgba(var(----light-blue), 0.2);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: var(--color-primary);
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgba(var(--color-default-rgb), 0.3);
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: rgba(var(--color-default-rgb), 0.3);
}

button[type="submit"] {
  background: var(--medium-blue);
  color: var(--text-white);
  border: 0;
  padding: 5px 15px;
  transition: 0.4s;
  border-radius: 4px;
}

button[type="submit"]:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
