/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.tech_hero {
  width: 100%;
  height: 90vh !important;
  overflow: hidden;
  background-image: url("https://pngimg.com/d/city_PNG17.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

@media (min-width: 1024px) {
  #tech_hero {
    background-attachment: fixed;
  }
}

#tech_hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#tech_hero .hero-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

@media (max-width: 991px) {
  #tech_hero .hero-container {
    top: 70px;
  }
}

#tech_hero h1 {
  color: var(--medium-blue) !important;
  font-family: var(--font-solway);
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

#tech_hero h1 span {
  color: var(--medium-blue);
  font-family: var(--font-solway);
}

@media (max-width: 991px) {
  #tech_hero h1 {
    font-size: 34px;
  }
}

#tech_hero p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 991px) {
  #tech_hero p {
    font-size: 16px;
  }
}
