:root {
    --dark-blue: #112D4E;
    --medium-blue: #3F72AF;
    --light-blue: #02a4d6;
    --light-gray: #F9F7F7;
    --pure-white: #FFFFFF;
    --dark: #2A2F4F;
    --purple: #ac1e60;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--light-gray) !important;
    color: var(--pure-white);
}

a {
    color: var(--medium-blue);
    text-decoration: none;
}

a:hover {
    color: var(--purple);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
    background: var(--dark-blue);
    padding: 10px 0;
    font-size: 14px;
}

#topbar .contact-info i {
    font-style: normal;
    color: var(--light-blue);
}

#topbar .contact-info i a,
#topbar .contact-info i span {
    padding-left: 5px;
    color: var(--pure-white);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

#topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}

#topbar .contact-info i a:hover {
    color: var(--purple);
}

#topbar .social-links a {
    color: var(--pure-white);
    line-height: 0;
    transition: 0.3s;
    margin-left: 15px;
}

#topbar .social-links a:hover {
    color: var(--purple);
}

@media screen and (max-width: 600px) {
    #topbar {
        visibility: hidden;
        /* clear: both;
        display: none; */
        padding: 0;
        margin: 0;
    }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--medium-blue);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: var(--pure-white);
    line-height: 0;
}

.back-to-top:hover {
    background: var(--purple);
    color: var(--pure-white);
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: var(--pure-white);
    box-shadow: 0px 0px 20px 0px var(--dark-blue);
}

#header .logo h1 {
    font-size: 26px;
    padding: 0 0 0 13px;
    margin: 11px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border-left: 8px solid var(--light-blue);
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: var(--light-blue);
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

.scrolled-offset {
    margin-top: 70px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/**
* Desktop Navigation 
*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: var(--dark-blue);
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: var(--light-blue);
}

.navbar .getstarted,
.navbar .getstarted:focus {
    background: var(--medium-blue);
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: var(--pure-white);
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: var(--pure-white);
    background: var(--light-blue);
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 24px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--pure-white);
    box-shadow: 0px 0px 30px var(--dark-blue);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: var(--dark-blue);
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: var(--light-blue);
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}


/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
    color: var(--dark-blue);
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: var(--pure-white);
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--dark-blue);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: var(--pure-white);
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: var(--dark-blue);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: var(--light-blue);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: var(--pure-white);
    box-shadow: 0px 0px 30px var(--dark-blue);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: var(--light-blue);
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}


/*--------------------------------------------------------------
# Whatsapp 
--------------------------------------------------------------*/

.whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 70px;
    background-color: #25d366;
    color: var(--pure-white);
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
    transition: 0.3s;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    color: #fff;
    background: url("../images/footer-bg.jpg") center center no-repeat;
    font-size: 14px;
    padding: 80px 0 60px 0;
    position: relative;
}

.footer .footer-content .footer-info {
    margin-bottom: 30px;
}

.footer .footer-content .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.footer .footer-content .footer-info h3 span {
    color: var(--pure-white);
}

.footer .footer-content .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
    color: var(--pure-white);
    ;
}

.footer .footer-content .social-links a {
    font-size: 18px;
    display: inline-block;
    /* background: var(--dark-blue); */
    color: var(--pure-white);
    line-height: 1;
    margin-right: 8px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.footer .footer-content .social-links a:hover {
    /* background: var(--pure-white); */
    text-decoration: none;
    color: var(--purple);
}

.footer .footer-content h4 {
    font-size: 16px;
    font-weight: 600;
    color: var(--pure-white);
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-content .footer-links {
    margin-bottom: 30px;
}

.footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-content .footer-links ul li {
    padding: 8px 0;
}

.footer .footer-content .footer-links ul li:first-child {
    padding-top: 0;
}

.footer-info a {
    color: var(--pure-white);
    margin-left: 5px;
}

.footer-info a:hover {
    color: var(--purple);
    margin-left: 5px;
}

.footer .footer-content .footer-links ul a {
    color: var(--pure-white);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-content .footer-links ul a:hover {
    color: var(--purple);
    ;
}

.footer .footer-legal .credits {
    padding-top: 4px;
    font-size: 13px;
    color: var(--pure-white);
    ;
}

.footer .footer-legal .credits a {
    color: var(--color-primary);
}