/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  overflow-x: hidden;
  padding: 0;
  min-height: 100vh;
}

.hero .info {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-image: url("../../../../assets/images/background-2.45ce6ac4.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

@media (max-width: 768px) {
  .hero .info {
    padding: 0 50px;
  }
}

.hero .info h2 {
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 65px;
  font-weight: 700;
  position: relative;
}

.hero .info h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 4px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media (max-width: 768px) {
  .hero .info h2 {
    font-size: 36px;
  }
}

.hero .info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.base-inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 796px;
  height: 20px;
  transform-origin: left bottom;
  transform: rotate(-90deg);
}

.hours {
  position: absolute;
  right: 0;
  top: 0;
}

.left-based-text {
  position: absolute;
  left: 50px;
  top: 50px;
  bottom: 50px;
  color: var(--color-white);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.1em;
  font-weight: 500;
  z-index: 10;
}

.social-links ul li {
  float: left;
  margin-right: 25px;
}

.hours ul li {
  float: left;
  margin-left: 25px;
}

.hero-main {
  font-size: 28px;
  color: var(--color-white);
}
