:root {
  --font-poppins: "Poppins", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-solway: "Solway", serif;

  --dark-blue: #0b2447;
  --medium-blue: #19376d;
  --text-white: #eceaea;
  --light-blue: #a5d7e8;

  --boxShadow: 0px 0px 30px rgba(127, 137, 161, 0.25);

  --black-gradient: radial-gradient(
    circle,
    rgb(1, 12, 22) -78%,
    rgb(3, 12, 22) -200%,
    rgb(4, 5, 17) -100%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --blue__gradient: linear-gradient(
    180deg,
    rgba(188, 165, 255, 0) 0%,
    #214d76 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
}

body {
  background: var(--black-gradient);
  font-family: var(--font-solway);
  color: var(--text-white);
}

a {
  text-decoration: none;
  font-family: var(--font-solway);
  color: var(--text-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-solway);
}

p {
  font-family: var(--font-solway);
}

/* --------------------------------
Sections Header
--------------------------------*/

.section-header::before {
  content: "";
  position: absolute;
  display: block;
  width: 250px;
  height: 5px;
  text-align: center;
  background: var(--medium-blue);
  bottom: 0;
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--light-blue) !important;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-white);
}

.section-with-bg {
  background-color: var(--light-blue);
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #e96b56;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ee8b7a;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
