@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --dark-blue: #010d1f;
  --medium-blue: #0b182e;
  --light-blue: #1f2f8a;
  --text-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto Slab", serif;
  color: var(--text-color);
  background: linear-gradient(180deg, #010d1f, #0b182e, #010d1f, #0b182e);
  background-image: url("https://cdn.svgator.com/images/2022/06/use-svg-as-background-image-particle-strokes.svg");
  height: 100vh;
}
