@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #0f0f0f;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --bg-text: #81afdd;
  --color-subtext: #ff8a71;
  --color-darkGray: #2e3135;
  --color-white: #f5f6f7;
  --font-poppins: "Poppins", sans-serif;
  --font-Raleway: "Raleway", sans-serif;
  --font-Rubik: "Rubik", sans-serif;
  --font-Solway: "Solway", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--bg-text);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-Solway);
}

body {
  font-family: var(--font-Solway);
  background-color: var(--color-bg);
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-title {
  color: var(--color-white);
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 65px;
  font-weight: 700;
  position: relative;
}

.section-bg {
  background-color: var(--color-white);
}

.section-header {
  text-align: center;
  padding-bottom: 70px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: var(--color-darkGray);
}

.section-header h2:before,
.section-header h2:after {
  content: "";
  width: 50px;
  height: 2px;
  display: inline-block;
}

.section-header h2:before {
  margin: 0 15px 10px 0;
}

.section-header h2:after {
  margin: 0 0 10px 15px;
}

.section-header p {
  margin: 0 auto 0 auto;
}

@media (min-width: 1199px) {
  .section-header p {
    max-width: 60%;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  z-index: 997;
  position: absolute;
  padding: 30px 0;
  top: 0;
  left: 0;
  right: 0;
}

.header .logo img {
  margin-right: 6px;
}

.header .logo h1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 0;
  font-family: var(--font-Solway);
}

.header .logo h1 span {
  color: var(--color-blog);
}
