.details .content + .content {
  margin-top: 100px;
}

.details .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: var(--light-blue);
}

.details .content p:last-child {
  margin-bottom: 0;
}
