#hero {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 60vh;
}

#hero::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 20%;
  width: 250%;
  height: 200%;
  z-index: -1;
  transform: skewY(135deg);
}

#hero h3 {
  margin: 0 0 10px 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 56px;
  width: 100%;
  color: var(--light-blue);
  font-family: var(--font-solway);
}

#hero h2 {
  color: var(--light-blue);
  margin-bottom: 50px;
  font-size: 20px;
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}
